<div class="container mt-5">
    <div class="rom">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <span class="titulo">Cotización</span>
                </div>

                <form class="mt-3"[formGroup]="priceForm" (ngSubmit)="crearFactura()" >

                    <div class="mb-3">
                        <input type="text" formControlName="names"
                         class="form-control form-control-lg"  placeholder="Nombres">
                    </div>
                    <div class="mb-3">
                        <input type="text" formControlName="surname" 
                        class="form-control form-control-lg"  placeholder="Apellidos">
                    </div>
                    <div class="mb-3">
                        <input type="number" formControlName="phone"
                        class="form-control form-control-lg"  placeholder="Telefono">
                    </div>
                    <div class="mb-3">
                    <input type="mail" class="form-control form-control-lg" formControlName="mail"
                    placeholder="Correo electronico">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" formControlName="vehicle"
                        placeholder="Placa vehiculo">
                    </div>
                    <div class="mb-3">
                        <select class="form-control form-control-lg" formControlName="servicio">
                            <option value="opt0">Selecciona servicio</option>
                            <option value="opt1">latoneria</option>
                            <option value="opt2">Pintura</option>
                            <option value="opt3">Estetica/adaptación</option>
                            <option value="opt4">Mecanica</option>
                            <option value="opt5">Otros</option>
                        </select>
                    </div>
                    <input type="number" class="form-control form-control-lg" formControlName="valor"
                    placeholder="Valor">
                    <div class="mb-3">
                        <button class="btn btn-secondary float-start" >Calcular</button>
                        <button type="submit" class="btn btn-success float-end" >Crear Factura</button>
                    </div>
                </form>
            </div>

        </div>        
    </div>
</div>