<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">

  <!-- Controls 
  <div class="d-flex justify-content-center mb-4">
    <button
      class="carousel-control-prev position-relative"
      type="button"
      data-mdb-target="#carouselMultiItemExample"
      data-mdb-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next position-relative"
      type="button"
      data-mdb-target="#carouselMultiItemExample"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
  <!-- Inicio -->
  <div class="carousel-inner py-4">
    <!-- Carta de inicio -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img src="../../../assets/cotiza1.png" alt="Imagen 1">
                    <div class="card-body">
                <h5 class="card-title">Cotización</h5>
                <p class="card-text">
                  Manejamos los mejores materiales, con expertos con mas de 20 años en el mercado.
                </p>
                <a href="price" class="btn btn-primary">Cotización</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <img src="../../../assets/pintura.jpg" alt="Imagen 2">
              <div class="card-body">
                <h5 class="card-title">Proyectos</h5>
                <p class="card-text">
                  Conoce algunos de nuestros trabajos realizados o por realizar
                </p>
                <a href="galeria" class="btn btn-primary">Galeria</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <img src="../../../assets/loading.jpg" alt="Imagen 3">
              <div class="card-body">
                <h5 class="card-title">Avances</h5>
                <p class="card-text">
                  Verifica el avance de tu vehiculo mientras esta en nuetras instalaciones.
                </p>
                <a href="#ID" class="btn btn-primary">Tu vehiculo</a>
              </div>  
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->